parameters:

    paths:
        - src
        - Drivers

    excludePaths:
        - Drivers/laravel-email-verification-bouncer/tests
        - Drivers/laravel-email-verification-emailable/tests

    configDirectories:
        - config
        - Drivers/*/config

    level: 10
